@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Phudu:wght@500&display=swap');

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', 'Phudu', sans-serif;
}

body {
    color: #fff;
    overflow: hidden;
    background: cornsilk;
    z-index: 0;
}

.header {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     padding: 20px 10%;
     background-color: transparent;
     justify-content: space-between;
     display: flex;
     align-items: center;
     margin-bottom: 30px;
     z-index: 100;

}

.logo {
    font-size: 40px;
    color: #bdb76b;
    text-decoration: none;
    font-weight: 700;
    font-family: 'Phudu', 'Oswald';
}

.navbar a {
    font-size: 20px;
    color: #bdb76b;
    text-decoration: none;
    font-weight: 500;
    margin-left: 55px;
    cursor: pointer;
    transition: .5s;
    z-index: 100;
}

.navbar a:hover,
.navbar a:active {
    color: #b9202c;
}

.main {
    min-height: 100vh;
    background: url('/assets/images/xvm-homepage.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    pointer-events: auto;
    transition: .5s ease;
    position: relative;
    z-index: 100;
}

.main.active {
    filter: blur(15px);
    pointer-events: none;
}

.container {
    display: flex;
    height: 100vh;
    
}

.home {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content {
    max-width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #bdb76b;
}

.home-content h1 {
    font-size: 78px;
    font-weight: 700;
    text-shadow: 0, 0, 0, .3;
}

.home-content h2 {
    font-size: 35px;
    font-weight: 300;
    text-shadow: 0, 0, 0, .3;
    margin-left: 5px;
    margin-bottom: 10px;
}

.home-content p {
    font-size: 20px;
    text-align: center;
    text-shadow: 0 0 15px rgb(185, 32, 44);
}

.home-content .menu-btn {
    width: 190px;
    height: 55px;
    background: #b9202c;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px #b9202c;
    font-size: 18px;
    color: black;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    transition: .3s;
    margin-top: 20px;
}

.home-content .menu-btn:hover {
    background: #d05660;
    color: #fff;
    border: 2px solid #fff;
}

.popup-menu {
    position: relative;
    position: absolute;
    width: 600px;
    background: #bfbc8f;
    border: 2px solid goldenrod;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    opacity: 0;
    pointer-events: none;
    transform: scale(.9);
    transition: .3 ease;
    transition-delay: 0;
    z-index: 110;
    top: 2%;
    left: 25%;
    height: 95vh;
}

.popup-menu.active {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
    transition: 1s ease;
    transition-delay: 1s;
    
}

.popup-menu h1 {
    font-family: 'Phudu', 'Oswald';
    font-size: 32px;
    text-align: center;
    border-radius: 6px;
}

.popup-menu .menu-header {
    display: flex;
    justify-content: flex-start;
    padding: 10px 0;
    border-bottom: 2px solid goldenrod;
    margin-bottom: 5px;
}

.menu-header span {
    font-size: 18px;
    font-weight: 500;
}

.starter-options .entree-options {
    padding: 20px 0;
    border-bottom: 2px solid goldenrod;
    margin-bottom: 20px;
}

.starter-options h4 {
    text-decoration: underline;
    font-size: 14px;
}

.starter-options p {
    font-size: 12px;
}

.popup-menu .entree-header{
    display: flex;
    justify-content: flex-start;
    padding: 10px 0;
    border-bottom: 2px solid goldenrod;
    margin-bottom: 5px;
}

.entree-options h4 {
    text-decoration: underline;
    font-size: 14px;
}

.entree-options p {
    font-size: 12px;
}

.popup-menu .dessert-header{
    display: flex;
    justify-content: flex-start;
    padding: 10px 0;
    border-bottom: 2px solid goldenrod;
    margin-bottom: 5px;
}

.dessert-options h4 {
    text-decoration: underline;
    font-size: 14px;
}

.dessert-options p {
    font-size: 12px;
}

.popup-menu .btn-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0 7px;
}

.popup-menu .btn-group .info-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 45px;
    background: #bfbc8f;
    border: 2px solid #bfbc8f;
    outline: none;
    border-radius: 6px;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    transition: .3s;
}


.popup-menu .btn-group .info-btn:nth-child(1):hover {
    background: rgba(185, 32, 44, .3);
    border-color:#b9202c;
}

.popup-menu .btn-group .info-btn:nth-child(2):hover {
    background: #bdb76b;
    border-color:rgba(255, 255, 0, 0.748);
}

#booking-form {
    /* justify-content: center;
    align-items: center; */
    background: rgba(0, 0, 0, .6);
    padding: 20px 20px;
}

label {
    display: inline-block;
    width: 130px;
    margin-bottom: 5px;
    font-weight: 300;
}

input,
textarea {
    display: inline-block;
    width: 300px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

#special-requests {
    position: relative;
    left: 135px;
}

#submit-button {
    display: block;
    position: relative;
    left: 220px;
    width: 130px;
    height: 45px;
    background: darkkhaki;
    border: 2px solid darkkhaki;
    outline: none;
    border-radius: 6px;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    transition: .3s;
}

#submit-button:hover {
    background: rgba(185, 32, 44, .3);
    border-color:#b9202c;
}