@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Phudu:wght@500&display=swap');

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', 'Phudu', sans-serif;
}

body {
    color: #fff;
    overflow: hidden;
    background: cornsilk;
}

.header {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     padding: 20px 10%;
     background-color: transparent;
     justify-content: space-between;
     display: flex;
     align-items: center;

}

.logo {
    font-size: 40px;
    color: darkkhaki;
    text-decoration: none;
    font-weight: 700;
    font-family: 'Phudu', 'Oswald';
}

.navbar a {
    font-size: 18px;
    color:darkkhaki;
    text-decoration: none;
    font-weight: 500;
    margin-left: 55px;
    transition: .5s;
}

.navbar a:hover,
.navbar a:active {
    color: darkorchid;
}

.main {
    min-height: 100vh;
    background: url("/assets/images/xvm-homepage.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    pointer-events: auto;
    transition: .5s ease;
}

.container {
    display: flex;
    height: 100vh;
    
}

.home {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content {
    max-width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: darkkhaki;
}

.home-content h1 {
    font-size: 78px;
    font-weight: 700;
    text-shadow: 0, 0, 0, .3;
}

.home-content p {
    font-size: 16px;
    text-align: center;
    text-shadow: 0, 0, 10px rgba(0, 0, 0, .3);
}




